
<div class="projectBorder">
<div id="<%= dom_id project %>">
  <p>
    
  <h2><strong><%= project.title %></strong></h2>
  </p>

  <p>
    <strong>Description:</strong>
    <%= project.description %>
  </p>

</div>
</div>
